@import "https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap";

:root {
  color-scheme: light;
  font-family: 'Inter', sans-serif;
  background-color: #f4f6f8;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6f8;
  color: #1f2937;
}
/* 
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

app-root {
  display: block;
  min-height: 100vh;
}

.mat-toolbar {
  background: #1e40af;
  color: white;
}

.content-container {
  padding: 24px;
}
